@import "tailwindcss/base";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import "tailwindcss/components";

@import "tailwindcss/utilities";

body {
    font-family: 'Nunito', sans-serif;
    margin: 20px;
}

.paginate {
    display: flex;
    align-items: center;
    justify-content: end;
}

.paginate li{
    width: 30px;
    height: 30px;
    border: 1px solid rgb(159, 159, 159);
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}